<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DATA_DIRECTORY" value="C:\SolrScheduler\" />
    <add key="LOG_DIRECTORY" value="C:\SolrScheduler\Log\" />
    <add key="LOG_GUI_DISPLAY_COUNT" value="100" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>